<div class=".col-xs-4 .col-xs-offset-4">
  <h1>Redirections#new</h1>
  <p>Find me in app/views/redirections/new.html.erb</p>

    <%= render "new_redirection_form" %>
    <%= render "redirections_table" %>
</div>